
<div class="container">
    <div class="row">
      <h2 class="text-center mt-5">{{podimTitle}}</h2>
      <h3 class="text-center mt-2 fw-bold">{{podiumSubtitle}}</h3>
      <h4 class="text-center mt-2">
        {{podiumDescriptionOne}}
      </h4>
      <h4 class="text-center mt-2">
        {{podiumDescriptionTwo}}
      </h4>
      <div class="d-flex align-items-center justify-content-center">
        <a class="rounded-5 bg-primary text-light btn" href="{{podiumButtonOneLink}}">
          {{podiumButtonOne}} &#8594;
        </a>
        <a class="rounded-5 ms-2 btn bg-primary text-white" href="{{podiumButtonTwoLink}}">{{podiumButtonTwo}} &#8594;</a>
      </div>
    </div>
  </div>
  <section>
    <div class="main-banner7 mt-3">
      <div class=""></div>
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-6 text-start">
            <h2 class="text-black fw-bold">
              {{detailsTitle}}
            </h2>
            <p class="text-black fw-bold">
              {{detailsDescription}}
            </p>
          </div>
          <div class="col-md-6 d-flex justify-content-end align-items-end mt-3" *ngIf="detailsImage!=null">
            <img [src]="'http://localhost:8000/podium/' + detailsImage" alt="" class="imgside" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="main-banner8">
      <div class=""></div>
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-6 text-start">
            <h2 class="text-light ms-2">{{screenTitle}}</h2>
            <h6 class="text-light ms-2">
              {{screenDetails}}
            </h6>
          </div>
          <div class="col-md-6 d-flex justify-content-center align-items-center mt-3">
            <img src="./assets/rsz.jpg" alt="" class="imgside1" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid">
    <div class="row bg-secondary-subtle">
      <h4 class="fw-bold mt-5 text-center">
        {{deviceTitle}}
      </h4>
      <div class="container bg-secondary-subtle">
        <div class="row d-flex justify-content-center align-items-center bg-secondary-subtle">
          <div class="col-md-8 bg-secondary-subtle">
            <div id="demo" class="carousel slide p-5" data-bs-ride="carousel">
              <!-- Indicators/dots -->
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
              </div>

              <!-- The slideshow/carousel -->
              <div class="carousel-inner">
                <div class="carousel-item active" *ngIf="deviceImageOne!=null">
                  <img [src]="'http://localhost:8000/Wireless device/' + deviceImageOne" alt="Los Angeles" class="d-block rounded-2" style="width: 100%" />
                  <div class="carousel-caption"></div>
                </div>
                <div class="carousel-item"*ngIf="deviceImageTwo!=null">
                  <img [src]="'http://localhost:8000/Wireless device/' + deviceImageTwo" alt="Chicago" class="d-block rounded-2" style="width: 100%" />
                  <div class="carousel-caption"></div>
                </div>
                <div class="carousel-item"*ngIf="deviceImageThree!=null">
                  <img [src]="'http://localhost:8000/Wireless device/' + deviceImageThree" alt="New York" class="d-block rounded-2" style="width: 100%" />
                  <div class="carousel-caption"></div>
                </div>
              </div>

              <!-- Left and right controls/icons -->
              <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row position-relative" *ngIf="anotationImage!=null">
    <img [src]="'http://localhost:8000/Anotation/' + anotationImage" height="500px" />
    <div class="position-absolute top-50 translate-middle-y" style="left: 20; bottom: 70px">
      <h2 class="ms-4 text-light">{{anotationTitle}}</h2>
      <h5 class="ms-4 text-light">
        {{anotationDescription}}
      </h5>
      <div class="row mt-3">
        <div class="col-md-4">
          <h5 class="text-light text-start ms-5">{{anotationFeatureone}}</h5>
          <!-- <h5 class="text-light text-start ms-5">Display</h5> -->
        </div>
        <div class="col-md-4">
          <h5 class="text-light text-start">{{anotationFeatureTwo}}</h5>
          <!-- <h5 class="text-light text-start">{{anotationFeatureoneThree}}</h5> -->
        </div>
        <div class="col-md-4">
          <h5 class="text-light text-start">{{anotationFeatureoneThree}}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row position-relative"  *ngIf="featureImage!=null">
    <img [src]="'http://localhost:8000/Podium feature/' + featureImage" height="500px" />
    <div class="position-absolute top-50 translate-middle-y" style="left: 20; bottom: 70px">
      <div class="row">
        <div class="col-md-4 flex-wrap">
          <h2 class="ms-5 text-light">
            {{featureTitle}}
          </h2>
        </div>
        <div class="row">
          <div class="col-md-4 flex-wrap">
            <h5 class="ms-5 text-light">
              {{featureDescription}}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h2 class="text-center fw-bold mt-4">
        {{presentationtitle}}
      </h2>
      <h5 class="text-center">
        {{presentationSubtitle}}
      </h5>
    </div>

    <div class="row mt-4 mb-4">
      <div class="col-md-4" *ngIf="presentationImageOne!=null">
        <img  [src]="'http://localhost:8000/presentation_image/' + presentationImageOne" alt="Los Angeles" class="d-block rounded-2"
          style="width: 100%" />
      </div>

      <div class="col-md-4" *ngIf="presentationImageTwo!=null">
        <img [src]="'http://localhost:8000/presentation_image/' + presentationImageTwo" alt="Los Angeles" class="d-block rounded-2"
          style="width: 100%" />
      </div>

      <div class="col-md-4" *ngIf="presentationImageThree!=null">
        <img [src]="'http://localhost:8000/presentation_image/' + presentationImageThree" alt="Los Angeles" class="d-block rounded-2"
          style="width: 100%" />
      </div>
    </div>

    <div class="row mb-5">
      <p class="" *ngFor="let feature of presentationFeatures">
        {{feature.name}}
      </p>
      <!-- <p class="">
        2. Onstage display includes: MAXHUB Integrated LED Walls, MAXHUB
        Interactive Flat Panels, and display systems that work with a MAXHUB
        Wireless Box or support HDMI input.
      </p>
      <p class="">
        3. Supports Windows 7 and above, macOS 10.10 and above, iOS 9.0 and
        above, Android 5.0 and above. The “MAXHUB Share” app needs to be
        downloaded, installed properly and granted necessary network access.
      </p>
      <p class="">
        4. Supports screen-sharing from personal devices to the smart lectern,
        screen-sharing from the lectern to the external display via HDMI or
        wireless connection, and relay the screen-share from personal devices
        to the external display with on-screen annotation features.
      </p>
      <p class="">
        5. When connected in the same WLAN with a MAXHUB Integrated LED Wall,
        MAXHUB Smart Lectern does not need any additional apps to achieve
        wireless screen-sharing. However, when connected to other display
        systems, additional apps may be required to install on the smart
        lectern to do so or through a MAXHUB Wireless Box.
      </p>
      <p class="text-">
        6. A MAXHUB Smart Lectern supports simultaneous connection with up to
        8 devices and instant switch amongst them
      </p> -->
    </div>
  </div>

  <section class="position-relative">
    <div class="container sub">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <div class="card rounded-4 border-0 bg-secondary-subtle shadow-lg">
            <div class="row align-items-center p-3">
              <div class="col-md-4">
                <h1 class="fw-bold">Newsletter</h1>
                <p class="text-secondary fw-lighter fs-6">
                  Subscribe and get notification from us
                </p>
              </div>
              <div class="col-md-8">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Your Email:" aria-label="Recipient's username"
                    aria-describedby="basic-addon2" />
                  <div class="input-group-append">
                    <button class="btn btn-primary rounded-0" type="button">
                      Subscribe
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
