<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <!-- Carousel Indicators -->
    <ol class="carousel-indicators list-unstyled">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#testimonialCarousel" data-bs-slide-to="1"></li>
        <!-- Add more li elements for additional slides -->
    </ol>
    <!-- Carousel Slides -->
    <div class="carousel-inner">
        <div class="carousel-item active" *ngFor="let content of titleList">
            <div class="main-banner2 h-100">
                <div class="dark-overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 m-auto col-sm-12">
                                <div class="banner-content content-padding white">
                                    <div class="mb-4">
                                        <a href="">
                                            <span class="p-4 rounded-5 bg-danger"><i
                                                    class="fa-solid fa-play text-white fs-4"></i></span>
                                        </a>
                                    </div>
                                    <h6>{{content.title}}</h6>
                                    <h1 class=""><span class="text-decoration-none text-primary"></span>{{content.content}}</h1>
                                    <a href="{{content.button_link}}" class="btn btn-primary circled">{{content.button_text}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="main-banner3 h-100">
                <div class="dark-overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 m-auto col-sm-12">
                                <div class="banner-content content-padding white">
                                    <div class="mb-4">
                                        <a href="">
                                            <span class="p-4 rounded-5 bg-danger"><i
                                                    class="fa-solid fa-play text-white fs-4"></i></span>
                                        </a>
                                    </div>
                                    <h6 class="mt-5">Business Collaboration Solution.</h6>
                                    <h1 class=""><span class="text-decoration-none text-primary">Engage</span> Students
                                        Like<br>Never
                                        Before</h1>
                                    <a href="#" class="btn btn-primary circled">Show Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add more carousel-item elements for additional slides -->
    </div>

    <!-- Carousel Controls -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<div class="main-banner4  mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-0 col-sm-12">
                <div class="banner-content content-padding white" *ngIf="product_image!=null">
                    <h3 class="text-dark">{{title}}</h3>
                    <img [src]="'http://localhost:8000/index/' + product_image" alt="" class="img-fluid mt-4">
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>
<section class="bg-black mt-5">
    <div class="container ">
        <div class="row text-center text-white">
            <div class="mt-4">
                <h3>{{titlePanel}}</h3>
                <p class="mt-5">{{description}}</p>
            </div>
            <div class="mt-3" *ngIf="panel_image!=null">
                <img [src]="'http://localhost:8000/index/' + panel_image" alt="" class="img-fluid  w-lg-50 p-5">
            </div>
        </div>
    </div>
</section>

<section class="bg-info-subtle">
    <div class="container py-5">
        <div class="row ">
            <h3 class="text-center fw-bold mt-5">{{titleCSP}}</h3>
        </div>
        <div class="row mt-3">
            <div class="col-md-3 " *ngFor="let csp of solution">
                <div class="card m-3 custom-card bg-info-subtle" >
                  <div >
                    <img  [src]="'http://localhost:8000/csp/' + csp.image" class="card-img-top" alt="Image 1">
                  </div>
                    <div class="card-body text-center">
                        <h6 class="fw-bold"> {{csp.subtitle}} </h6>
                        <p class="card-text ">{{csp.description}}</p>
                    </div>
                    <div class=" text-center ">
                        <a class="btn  bg-dark text-white border-0 rounded-0 " href="{{csp.button_link}}">{{csp.button_text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="container " >
      <div class="row text-center">
        <h2 class="fw-bold">{{titleEDU}} </h2>
        <p class=" text-secondary">{{eduHDescription}}</p>
      </div>

      <div class="row d-flex align-items-center justify-content-center p-md-5">
        <div class="col-md-6" *ngIf="eduimage!=null">
          <img [src]="'http://localhost:8000/edu/' + eduimage" alt="" class="rounded-3 img-fluid">
        </div>
        <div class="col-md-6 p-md-5 ">
          <h1 class="fw-bold">{{secondTitle}} </h1>
          <p class=" text-secondary">{{eduDescription}}</p>
          <a class="btn btn-primary" href="{{eduLink}}">{{eduButtontext}}</a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-black mt-5 py-5">
    <div class="container ">
      <div class="row text-center text-white">
        <div class="mt-4">
          <h2 class="fw-bold">{{featureTitle}}</h2>
          <p class="mt-5">{{featureTitle}}</p>
        </div>
      </div>

      <div class="row p-5 d-flex align-items-end">
        <div class="col-md-3"*ngIf="featureLeftImage!=null">
          <img [src]="'http://localhost:8000/feature_product/' + featureLeftImage" alt="" class="img-fluid">
        </div>
        <div class="col-md-6" *ngIf="featureMainImage!=null">
          <img  [src]="'http://localhost:8000/feature_product/' + featureMainImage" alt="" class="img-fluid w-100">
        </div>
        <div class="col-md-3" *ngIf="featureRightImage!=null">
          <img [src]="'http://localhost:8000/feature_product/' + featureRightImage" alt="" class="img-fluid">
        </div>
      </div>
      <div class="row text-center">
        <p class="text-primary ">{{caption}}</p>
        <div>
          <a class="btn btn-primary" href="{{featurelink}}">{{featuretext}}</a>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-5">
    <div class="container p-md-5">
      <div class="row text-center">
        <h1 class="fw-bold text-black-75">{{titleConference}}</h1>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-md-6 device p-md-5 " *ngIf="masterImage!=null">
          <a href="#">
            <img [src]="'http://localhost:8000/conference/' + masterImage"  alt="" class="img-fluid border-0 rounded-3">
          </a>
        </div>
        <div class="col-md-6 p-md-5 device col-sm-12">
          <div class="card border-0">
            <div class="d-flex flex-wrap justify-content-center">
              <div class="col-md-6 col-sm-6 mt-3" *ngIf="subImage1!=null">
                <img [src]="'http://localhost:8000/conference/' + subImage1" alt="" class="img-fluid">
              </div>
              <div class="col-md-6 col-sm-6 mt-3" *ngIf="subImage2!=null">
                <img [src]="'http://localhost:8000/conference/' + subImage2" alt="" class="img-fluid">
              </div>
              <div class="col-md-6 col-sm-6 mt-3" *ngIf="subImage3!=null">
                <img [src]="'http://localhost:8000/conference/' + subImage3" alt="" class="img-fluid">
              </div>
              <div class="col-md-6 col-sm-6 mt-3" *ngIf="subImage4!=null">
                <img [src]="'http://localhost:8000/conference/' + subImage4" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-5 bg-info-subtle">
    <div class="container">
      <h1 class="fw-bold py-5 text-center">{{clientTitle}}</h1>
      <div id="carouselExample3" class="carousel slide p-5" data-bs-ride="carousel">
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <div class="container">
              <div class="row" >
                <div class="col-md-2 " *ngFor="let img of clienListImage">
                  <img [src]="'http://localhost:8000/honorable_client/' + img.image"alt="" class="img-fluid">
                </div>
                <!-- <div class="col-md-2 ">
                  <img src="assets/bankasia-1.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 ">
                  <img src="assets/jica-1.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 ">
                  <img src="assets/kjs-1.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 ">
                  <img src="assets/pksf-1.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 ">
                  <img src="assets/worldbank-1.png" alt="" class="img-fluid">
                </div> -->
              </div>
            </div>
          </div>
          <div class="carousel-item" *ngIf="clienListImageTwo.length > 0">
            <div class="container">
              <div class="row">
                <div class="col-md-2 " *ngFor="let img of clienListImageTwo">
                  <img [src]="'http://localhost:8000/honorable_client/' + img.image"alt="" class="img-fluid">
                </div>
                <!-- <div class="col-md-2 ">
                  <img src="assets/hito-1.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 ">
                  <img src="assets/net-learning-1-150x74-1.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 ">
                  <img src="assets/kyoto-1.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 ">
                  <img src="assets/community-1.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-2 ">
                  <img src="assets/tokyo-1.png" alt="" class="img-fluid">
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev justify-content-start" href="#carouselExample3" role="button"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-dark fs-6  rounded-circle" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next justify-content-end " href="#carouselExample3" role="button"
          data-bs-slide="next">
          <span class="carousel-control-next-icon bg-dark fs-6 rounded-circle" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </div>
  </section>

  <section class="mt-5">
    <div class="container">
      <div class="row text-center">
        <h1 class="fw-bold">{{teamTitle}}</h1>
      </div>
      <div class="row d-flex align-items-center team p-5" style=" overflow-x: auto; ">
        <ng-container *ngFor="let tm of teamMember">
        <div class="col-md-1">
          <img [src]="'http://localhost:8000/Our team/' + tm.image" alt="" class="img-fluid" />
        </div>
        <div class="col-md-3">
          <h3 class="fw-light fs-4">{{tm.name}}</h3>
          <h3 class="fw-light fs-6">{{tm.department}}</h3>
        </div>
      </ng-container>
      </div>
    </div>
  </section>

  <section class="mt-5">
    <div class="container py-5">
      <div class="text-center">
        <h1 class="fw-bold">{{caseTitle}}</h1>
      </div>

      <div class="row p-md-5">
        <div class="col-md-4" *ngFor="let case of caseStudies">
          <div class="card border-0">
            <div class=" text-center">
              <h5 class="fw-bold">{{case.title_name}} </h5>
            </div>
            <div class="card-body text-center">
              <p>
                {{case.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="main-banner5  mt-2">
    <div class="dark-overlayy"></div>
    <div class="container">
      <div class="row text-center">
        <div class="banner-content2 ">
          <h2 class="text-white fw-bold ">{{reviewTitle}}</h2>
          <p class="text-white fw-bold">{{reviewSubTitle}}</p>
        </div>
      </div>
    </div>
  </div>

  <section class=" position-relative testimonial" >
    <div class="container">
      <div id="carouselExample4" class="carousel slide p-0" data-bs-ride="carousel">
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <div class="container">
              <div class="row p-4">
                <div class="col-md-4 " *ngFor="let rev of review">
                  <div class="card m-3  rounded-3 border-3 border-secondary-subtle shadow">
                    <div class="d-flex justify-content-center align-items-center mt-2">
                      <img src="assets/client1.jpg" alt="" class="rounded-circle client-image">
                    </div>
                    <div class="card-body text-center ">
                      <h6 class="fw-bold ">{{rev.name}}</h6>
                      <p class="fw-light">Designer</p>
                    </div>
                    <div class="d-inline-flex text-warning text-center justify-content-center fs-6">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="text-secondary fw-light text-center mt-4 p-4">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Porro, in.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, in.
                    </p>
                  </div>
                </div>
                <!-- <div class="col-md-4 ">
                  <div class="card m-3 rounded-3 border-3 border-secondary-subtle shadow">
                    <div class="d-flex justify-content-center align-items-center mt-2">
                      <img src="assets/client2.jpg" alt="" class="rounded-circle client-image">
                    </div>
                    <div class="card-body text-center ">
                      <h6 class="fw-bold ">Jhon </h6>
                      <p class="fw-light">Designer</p>
                    </div>
                    <div class="d-inline-flex text-warning text-center justify-content-center fs-6">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="text-secondary fw-light text-center mt-4 p-4">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Porro, in.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, in.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 ">
                  <div class="card m-3 rounded-3 border-3 border-secondary-subtle shadow">
                    <div class="d-flex justify-content-center align-items-center mt-2">
                      <img src="assets/client3.jpg" alt="" class="rounded-circle client-image">
                    </div>
                    <div class="card-body text-center ">
                      <h6 class="fw-bold ">Simons Monroee</h6>
                      <p class="fw-light">Designer</p>
                    </div>
                    <div class="d-inline-flex text-warning text-center justify-content-center fs-6">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="text-secondary fw-light text-center mt-4 p-4">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Porro, in.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, in.
                    </p>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="carousel-item" *ngIf="reviewTwo.length > 0">
            <div class="container">
              <div class="row">
                <div class="col-md-4" *ngFor="let rev of reviewTwo">
                  <div class="card m-3 rounded-3 border-3 border-secondary-subtle shadow">
                    <div class="d-flex justify-content-center align-items-center mt-2">
                      <img src="assets/client1.jpg" alt="" class="rounded-circle client-image">
                    </div>
                    <div class="card-body text-center ">
                      <h6 class="fw-bold ">{{rev.name}}</h6>
                      <p class="fw-light">Designer</p>
                    </div>
                    <div class="d-inline-flex text-warning text-center justify-content-center fs-6">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="text-secondary fw-light text-center mt-4 p-4">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Porro, in.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, in.
                    </p>
                  </div>
                </div>
                <!-- <div class="col-md-4">
                  <div class="card m-3 rounded-3 border-3 border-secondary-subtle shadow">
                    <div class="d-flex justify-content-center align-items-center mt-2">
                      <img src="assets/client3.jpg" alt="" class="rounded-circle client-image">
                    </div>
                    <div class="card-body text-center ">
                      <h6 class="fw-bold ">Joe Rogan </h6>
                      <p class="fw-light">Designer</p>
                    </div>
                    <div class="d-inline-flex text-warning text-center justify-content-center fs-6">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="text-secondary fw-light text-center mt-4 p-4">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Porro, in.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, in.
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card m-3 rounded-3 border-3 border-secondary-subtle shadow">
                    <div class="d-flex justify-content-center align-items-center mt-2">
                      <img src="assets/client2.jpg" alt="" class="rounded-circle client-image">
                    </div>
                    <div class="card-body text-center ">
                      <h6 class="fw-bold ">Abdul Ali</h6>
                      <p class="fw-light">Designer</p>
                    </div>
                    <div class="d-inline-flex text-warning text-center justify-content-center fs-6">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="text-secondary fw-light text-center mt-4 p-4">Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Porro, in.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, in.
                    </p>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev justify-content-start" href="#carouselExample4" role="button"
          data-bs-slide="prev">
          <span class=" bg-dark fs-6 " aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next justify-content-end " href="#carouselExample4" role="button"
          data-bs-slide="next">
          <span class=" bg-dark fs-6" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </div>
  </section>

  
  <section class="position-relative">
    <div class="container sub">
      <div class="row d-flex justify-content-center ">
        <div class="col-md-8">
          <div class="card d-flex  rounded-4 border-0  bg-secondary-subtle shadow-lg">
            <div class="row d-flex align-items-center p-3">
              <div class=" col-md-4">
                <h1 class="fw-bold">Newsletter</h1>
                <p class="text-secondary fw-lighter fs-6">Subscribe and get notification from us</p>
              </div>
              <div class="col-md-8">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Your Email:" aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary rounded-0" type="button">Subscribe</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>